body
{
    background-image: url(img/fondoIndex.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body, html, div, img
{
    padding: 0;
    margin: 0;
    text-align: center;
}

.texto p
{
    padding: 0 20%;
    font-family: 'odstemplikbold';
    font-size: 2em;
}

.container
{
    flex-direction: column;
    justify-content: center;
    align-self: center;
    display: flex;
    position: relative;
    margin-top: 2%;
}

#qsr
{
    height: 33vw;
}