body {background-color: rgb(153, 255, 204);}
body::after {content: ''; display: block; height: 50px;}
p {font-size: 125%}
header h1{font-weight: bold; background-color: rgb(0, 140, 0); color: white; text-align: center}
main {margin:auto; width:50%; }
main p {text-align:center}
.contenido{border: 5px solid rgb(0, 102, 0); margin: 20px 0px}
.contenido h2 {margin: 5px}
footer{position: absolute; bottom: 0; width: 99%; height: 50px}
#Nombre {float:left; margin-left:10px}
#Fecha {float:right; margin-right:10px}